@import "@styles/settings/__settings";

$home-module-color: green;

.products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;
}

.productTitle {
  font-size: 1.4em;
  margin: 0.4em 0 0;
}

.productPrice {
  margin: 0.4em 0 0;
}
.product-image {
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 13px 8px 41px -10px rgba(61, 60, 73, 0.28),
    6px 8px 10px -5px rgba(87, 81, 97, 0.12);
  transform: rotate(-2deg) scale(1) translateY(-1em);
  transition: transform 0.1s;

  &:hover {
    transform: rotate(0) scale(1.1) translateY(-1em);
    transition: transform 0.2s;
  }

  & > div {
    display: block !important;
  }
}
