@import "@styles/settings/__settings";

.header {
  width: 100%;
  background-color: $color-brand-blue;
  color: #fff;
  padding: 0.5em 0;

  p {
    margin: 0;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 32px;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  color: $color-brand-yellow;
}

.header-cart {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    color: inherit;
    border: none;

    svg {
      color: $color-brand-yellow;
      margin-right: 5px;
    }
  }
}
